.accordion {
  border-radius: var(--border-radius);

  &-item {
    background-color: var(--dark);
    // border-radius: var(--border-radius);

    &__header {
      background-color: var(--dark);
      color: var(--text-white);
      display: flex;
      justify-content: space-between;
      padding: 16px;
      text-align: left;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
      border-radius: var(--border-radius);

      &-title {
        max-width: 90%;
        font-size: 14px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .fa-angle-down {
        color: var(--primary-ghost);
        transition: transform 0.3s ease; /* Ensure smooth rotation */
      }
      .fa-angle-down.rotate {
        transform: rotate(180deg); /* Rotate 180 degrees when open */
      }

      &:hover {
        background-color: var(--dark-hover);
      }

      &:focus {
        background-color: var(--dark-focus);
      }
    }

    &__content {
      padding: 0 16px;
      font-size: 14px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      .active {
        max-height: auto; /* Adjust as needed */
        padding: 10px;
      }
    }
  }
}
