@import "./main/main.css";

@import "./header/header.css";

@import "./body/body.css";

@import "./action-bar/action-bar.css";

@import "./save-bar/save-bar.css";

@import "./login/login.css";

@import "./section/section.css";

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
