.body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 24px;
  padding: 16px 16px;
  width: 100%;
  margin-bottom: 16px;

  &__header {
    width: 100%;

    &-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    &-description {
      color: var(--text-info);
      font-size: 16px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__form {
    margin-bottom: 16px;
    #ingredientsInput {
      min-height: 350px;
    }
    &-actions {
      display: flex;
      justify-content: space-between;

      &-tools {
        display: flex;
        gap: 8px;
      }
      &-buttons {
        display: flex;
        gap: 8px;
      }
    }
  }
}
