.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--primary-ghost);
  color: var(--text-white);
  border-radius: var(--border-radius);
  height: 120px;
  width: 100%;
  flex: 0 0 auto;

  &-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 8px;
  }

  &-description {
    font-size: 12px;
    color: var(--text-info);
  }

  &--sm {
    height: 80px;
  }
}
