.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 800px;
    height: 70px;
    background: linear-gradient(1turn, rgba(18, 23, 34) 33%, rgba(18, 23, 34, 0.5) 66%, rgba(18, 23, 34, 0.0));
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    z-index: 1000;
    &-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        font-size: 0.875rem;
        cursor: pointer;
        border-radius: var(--border-radius);
        transition: color 1s ease;
        color: var(--primary);
        opacity: 60%;

        &:hover {
            color: var(--primary-hover);
            opacity: 80%;
            transition: all 0.3s ease-in-out;
        }

        &:focus:not(.active) {
            opacity: 100%;
            color: var(--primary-focus);
        }

        &.active {
            color: var(--yellow);
            opacity: 100%;
            transform: scale(1.1);

            &:hover {
                color: var(--yellow-light);
            }
    
            &:focus {
                outline: none; /* Disable focus outline for active links */
                color: var(--yellow); /* Ensure the color matches the active state */
                transition: all 0.6s ease-in-out;
            }
        }
    }

    /* The sliding indicator */
    .nav-indicator {
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: var(--primary);
        border-radius: 50%;
        bottom: 12px;
        transition: left 0.3s ease-in-out;
    }
}