@font-face {
  font-family: "Comfortaa";
  src: url("./Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}
