<div class="settings-section">
    <div class="settings-section__title"> Help & Support</div>
    <div class="settings-section__settings">
        <a class="settings-section__settings-row">
            <div class="settings-section__settings-row-title">Contact Us</div>
            <i class="fa-solid fa-angle-right"></i>
        </a>
        <a class="settings-section__settings-row">
            <div class="settings-section__settings-row-title">Help Center</div>
            <i class="fa-solid fa-angle-right"></i>
        </a>
    </div>
</div>