<!-- Entire Settings Block -->
<div class="settings">
  <div class="settings-title">Help & Support</div>
  <div class="settings-wrapper">
    <a class="settings-button">
      <i class="fa-solid fa-envelope"></i>
      <div class="settings-button__body">
        <div class="settings-button__body-left">
          <div class="settings-button__body-left_title">Contact Us</div>
        </div>
        <div class="settings-button__body-input">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </a>
    <a class="settings-button">
      <i class="fa-solid fa-circle-info"></i>
      <div class="settings-button__body">
        <div class="settings-button__body-left">
          <div class="settings-button__body-left_title">Help Center</div>
        </div>
        <div class="settings-button__body-input">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </a>
  </div>
</div>
<!-- End Entire Settings Block -->

<!-- Settings Button -->
<a class="settings-button">
  <i class="fa-solid fa-circle-info"></i>
  <div class="settings-button__body">
    <div class="settings-button__body-left">
      <div class="settings-button__body-left_title">Help Center</div>
    </div>
    <div class="settings-button__body-input">
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </div>
</a>
<!-- End Settings Button -->

<!-- Settings Row -->
<a class="settings-row">
  <div class="settings-row__body">
    <div class="settings-row__body-left">
      <div class="settings-row__body-left_title">Camera</div>
      <div class="settings-row__body-left_description">
        Allow access to your devices camera.
      </div>
    </div>
    <div class="settings-row__body-input">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</a>
<!-- End Settings Row -->

<div class="settings-row">
  <i class="fa-solid fa-angle-right"></i>
  <div class="settings-row__body settings-row__body--vert">
    <div class="settings-row__body-left">
      <div class="settings-row__body-left_title">Item Two</div>
      <div class="settings-row__body-left_description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
    </div>
    <div class="settings-button__body-info">Example List</div>
    <div class="settings-row__body-input">
      <label class="switch">
        <input type="checkbox" id="cameraToggle" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
